@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
}

@media (max-width: 786px) {
    lord-icon {
        width: 18px !important;
    }

    .github {
        width: 25px;
    }
}